
a.video {
  background: #dfb636;
  font-size: 1.25em;
  text-decoration: none;
  padding: 12px 25px 12px 15px;
  color: #fff;
  font-weight: 600;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  border-bottom: 3px solid #2d2d2d;
  width:75%;
  display:block;
  margin-top:25px;
}

a.book:hover,a.video:hover {
	background: #000;
    border-bottom: 3px solid #000;
}

i.video1 {
	width:40px;
	height:35px;
	background: url('../images/img-sprite.png') no-repeat -300px -50px;
	display:inline-block;
	vertical-align:middle;
	margin-right:10px;
}

i.videos {
	width:60px;
	height:60px;
	background: url('../images/img-sprite.png') no-repeat -60px 0px;
	display:block;
}
i.videos1 {
	width:60px;
	height:60px;
	background: url('../images/img-sprite.png') no-repeat -60px -60px;
	display:none;
}
.menu ul li a:hover div.video i.videos{
	display:none;
}
.menu ul li a:hover div.video i.videos1{
	display:block;
}
.menu ul li a.active div.video i.videos{
	display:none;
}
.menu ul li a.active div.video i.videos1{
	display:block;
}







.video iframe {
	width:100%;
	min-height:480px;
}












@media screen and (max-width: 1366px) {

	.video iframe {
		min-height: 470px;
	}
	a.video,a.book {
		font-size: 1.2em;
		padding: 9px 22px 9px 13px;
		width: 70%;
		margin-top: 20px;
	}
}
@media screen and (max-width: 1280px) {

	.video iframe {
		min-height: 400px;
	}

	a.video, a.book {
		font-size: 1.2em;
		padding: 9px 22px 9px 13px;
		width: 75%;
		margin-top: 15px;
	}


}
@media screen and (max-width: 1024px) {

	.video iframe {
		min-height: 360px;
	}
}
@media screen and (max-width: 800px) {

	.video iframe {
		min-height: 320px;
	}
	a.video {
		display:none;
	}
}

@media screen and (max-width: 640px) {

	.video iframe {
		min-height: 270px;
	}
}


@media screen and (max-width: 320px) {

	i.videos{
		width: 45px;
		height: 45px;
		background: url('../images/img-sprite.png') no-repeat -44px 0px;
		background-size: 266px;
	}
	i.videos1{
		width: 45px;
		height: 45px;
		background: url('../images/img-sprite.png') no-repeat -44px -45px;
		background-size: 266px;
	}
}